 

	<%- include ../Layouts/Header.ejs %>	
	<%- include ../Layouts/Sidebar.ejs %>		
 
 
	<!-- /bottom-banner --><br><br><br>
	<div class="banner-bottom">
	   <div class="container">
	   
	  
	   
          <div class="bottom-form">
		 
			<div>
			
				<div class="">
				
				</div>
			
			</div>
			
			<div class="inner-text">
				
			 <form action="#" method="post">
		
			
			
              	<div class="best-hot">
				
              <h5>Congrats! You're all done.</h5>					
					<hr>
					<p style="color:gray;" align="justify">Thanks for updating your partner profile! you are almost ready to hit the road! Please check your email to learn more about next steps!</p>
					</div> 
					
					
				<hr>
					
					<input type="submit"  value="Submit" class="glyphicon glyphicon-arrow-up" ><br>
					<center><p style="font-size:12px"><a href=""><i class="glyphicon glyphicon-arrow-left"></i>GO TO YOUR DASHBOARD</a></p></center>
					<br>
					 
					
					
					
					</center>
				</form> 
			</div>
		</div>
	</div>
</div>
	<!-- //bottom-banner -->
	<!-- /slider1 -->
			 
		<div class="clearfix"></div>
		<!-- //Services -->
			<%- include ../Layouts/Footer.ejs %>		 	