<!DOCTYPE html>
<html>
<head>
<title>CTCABZ | Online Transportation</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Catchy Carz Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="../../css/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="../../css/style.css" />
<link rel="stylesheet" type="text/css" href="../../css/component.css" />
<script type="text/javascript" src="../../js/modernizr-2.6.2.min.js"></script>
 
</head>
<body>
<!--/banner-section-->
	<div id="demo-1" data-zs-src='["../../images/2.jpg", "../../images/1.jpg", "../../images/3.jpg"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
		   <div class="header-top" style="background-color:white;position:fixed;z-index:9999;width:100%">
		    <!-- /header-left -->
		          <div class="header-left">
				  <!-- /sidebar -->
				        <div id="sidebar"> 
						     <h4 class="menu">Menu</h4>
						          <ul> 
							   <li><a href="compare.html">Ride</a></li> 
							   <li><a href="sell.html">Drive</a></li>
							   <li><a href="news.html">Help</a></li>
							   <li><a href="dealer.html">Become Own Boss</a></li> 
							   <li><a href="insurance.html">Career</a></li> 
						   </ul>
						   <div id="sidebar-btn">
							   <span></span>
							   <span></span>
							   <span></span>
						   </div>
					   </div>

							 <script>
								  var sidebarbtn = document.getElementById('sidebar-btn');
									var sidebar = document.getElementById('sidebar');
								   sidebarbtn.addEventListener('click', function () {
								  if(sidebar.classList.contains('visible')){
										sidebar.classList.remove('visible'); 
								   }else {
										sidebar.className = 'visible';
									}
								  });
								</script>
					    <!-- //sidebar -->
					  <div class="tag"><a href="#" style="color:black;font-style:bold"><img src="../../images/ct.png" height="40px" /></a></div> 
					</div>
				  <!-- //header-left -->
		             <div class="search-box"> 
					    <ul> 
							<button id="showRight" class="navig" style="color:black">LOGIN</button>
							<button id="showRight" class="navig" style="color:black">RIDE</button>
							<button id="showRight" class="navig" style="color:black">DRIVE</button> 
							<button id="showRight" class="navig" style="color:black">HELP</button> 
							<input type="submit" class="btn btn-success" value="BECOME OWN BOSS"/>
							 <div class="cbp-spmenu-push">
							<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
								<h3>Login</h3>
							<div class="login-inner">
								<div class="login-top">
								 <form action="#" method="post">
									<input type="text" name="email" class="email" placeholder="Email" required=""/>
									<input type="password" name="password" class="password" placeholder="Password" required=""/>	
									<input type="checkbox" id="brand" value="">
									<label for="brand"><span></span> Remember me</label>
								</form>
								<div class="login-bottom">
									<ul>
										<li>
											<a href="#">Forgot password?</a>
										</li>
										<li>
											<form action="#" method="post">
												<input type="submit" value="LOGIN"/>
											</form>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
													
							</div>
							<div class="social-icons">
							<ul> 
								<li><a href="#"><span class="icons"></span><span class="text">Facebook</span></a></li>
								<li class="twt"><a href="#"><span class="icons"></span><span class="text">Twitter</span></a></li>
								<li class="ggp"><a href="#"><span class="icons"></span><span class="text">Google+</span></a></li>
							</ul> 
						</div>		
							</div> 
							</nav>
						</div> 
				<script src="../../js/classie2.js"></script>
						<!--<script>
							var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
								showRight = document.getElementById( 'showRight' ),
								body = document.body;
				
							showRight.onclick = function() {
								classie.toggle( this, 'active' );
								classie.toggle( menuRight, 'cbp-spmenu-open' );
								disableOther( 'showRight' );
							};
				
							function disableOther( button ) {
								if( button !== 'showRight' ) {
									classie.toggle( showRight, 'disabled' );
								}
							}
						</script>
						<!--Navigation from Right To Left-->
						    </li>
						</ul>
						
					</div>
				
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
		    <!--banner-info-->
		
		    <!--banner-info-->
			<div class="banner-info">
			  <h1><a href="index.html"> <span class="logo-sub">CTCABZ</span> </a></h1>
			    <h2><span>Book your ride in second</span></h2><br></br> 
			       <form action="#" method="post"> 
					<div class="row">
						<!-- <div class="col-lg-6 col-lg-offset-3">	
						 <input type="text" class='form-control' placeholder="Enter 10 digit mobile number">
						 </div><br></br> 
						  <div class="col-lg-12 col-lg-offset-5">	
						    <input type="submit" value="Get Link" class='btn btn-success'>
						 </div>-->	
						 <div class="input-group">
							<input type="text" class="form-control" placeholder="Enter 10 digit mobile number" aria-describedby="basic-addon2">
							<span class="input-group-addon" id="basic-addon2" style="color:black;background-color:yellow">Get Link</span>
						</div>
					</div> 
					<div class="clearfix"></div>
				</form>
			</div>
				<!--//banner-info-->	
		</div>
</div>
<!-- discounts-->
			<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog about" role="document">
					<div class="modal-content about">
						<div class="modal-header">
							<button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								<div class="discount">
									<h3>Get Offers & Discount of</h3>
									<p>Catchy Carz Brand VL in New York</p>
										<form action="#" method="post">
											<select id="country5" onchange="change_country(this.value)" class="frm-field required">
												<option selected="selected" value="-1">-Buying Time Period-</option>
												<option value="0">Just Researching</option>
												<option value="7">1 Week</option>
												<option value="14">2 Weeks</option>
												<option value="30">1 Month</option>
												<option value="60">2 Months</option>
											</select>
											<input type="text" name="pin code" class="Pin code" placeholder="Pin code" required="">
										</form>
								</div>							
						</div>
						 <div class="modal-body about">
								
								<div class="dis-contact">
								  <h4>Contact Information</h4>
												<form action="#" method="post">
													<input type="text" name="name" class="name active" placeholder="Name" required="">
													<input type="text" name="email" class="email" placeholder="Email" required="">
													<input type="text" name="phone" class="phone" placeholder="Phone" required="">
													<div class="d-c">	
														<span class="checkbox1">
															<label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>I agree to Terms and Conditions.</label>
														</span>													

													</div>
													<input type="submit" value="Find Offers">
													
													</form>
								</div>
						 </div>
					</div>
				</div>
			</div>
			<!-- //discounts-->
				<!-- //sign-up-->
				<div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								<div class="discount one">
									<h3>Sign Up</h3>
									
								</div>							
						</div>
						 <div class="modal-body about">
								<div class="login-top sign-top one">
								 <form action="#" method="post">
									<input type="text" name="name" class="name active" placeholder="Your Name" required="">
									<input type="text" name="email "class="email" placeholder="Email" required="">
									<input type="password" name="password" class="password" placeholder="Password" required="">		
									<input type="checkbox" id="brand1" value="">
									<label for="brand1"><span></span> Remember me?</label>
									<div class="login-bottom one">
									<ul>
										<li>
											<a href="#">Forgot password?</a>
										</li>
										<li>
										
										  <input type="submit" value="SIGN UP">
										
										</li>
									<div class="clearfix"></div>
								</ul>
								</div>	
								</form>
								
							</div>
							
							
						 </div>
						 <div class="social-icons">
									<ul> 
										<li><a href="#"><span class="icons"></span><span class="text">Facebook</span></a></li>
										<li class="twt"><a href="#"><span class="icons"></span><span class="text">Twitter</span></a></li>
										<li class="ggp"><a href="#"><span class="icons"></span><span class="text">Google+</span></a></li>
									</ul> 
									</div>
								
					</div>
				</div>
			</div>
			<!-- //sign-up-->
				<!-- /location-->
				<div class="modal ab fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								<div class="discount one">
									<h3>Please Tell Us Your City</h3>
									
								</div>							
						</div>
						 <div class="modal-body about">
								<div class="login-top sign-top location">
								 <form action="#" method="post">
				                      <select id="country12" onchange="change_country(this.value)" class="frm-field required">
														<option value="null"> Select City</option>
														<option value="city">Amsterdam</option>
														<option value="city">Bahrain</option>
														<option value="city">Cannes</option>
														<option value="city">Dublin</option>
														<option value="city">Edinburgh</option>
														<option value="city">Florence</option>
														<option value="city">Georgia</option>
														<option value="city">Hungary</option>
														<option value="city">Hong Kong</option>
														<option value="city">Johannesburg</option>
														<option value="city">Kiev</option>
														<option value="city">London</option>
														<option value="city">Others...</option>
										</select>
								</form>
							     </div>
							
							
						 </div>

								
					</div>
				</div>
			</div>
			<!-- //location-->
<!--//banner-section-->  
	<!-- /slider1 -->
	
	
	<section class="featured_section_w3l">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="row">
				<span class="col-lg-4"><img src="../../images/1.png" width="100"/></span>	
				<h4 class="col-lg-8 feature">Convenience</h4>
				</div>
			   <p>Book within seconds and get instant confirmations. Easy online payments or cash on delivery. Booking car rentals will never be a headache again!</p>
			</div>
				 <div class="col-lg-4">
				<div class="row">
				<span class="col-lg-4"><img src="../../images/2.png" width="100"/></span>	
				<h4 class="col-lg-8 feature">Anywhere, anytime</h4>
				</div>
			   <p>Daily commute. Errand across town. Early morning flight. Late night drinks. Wherever you’re headed, count on CTCABZ for a ride—no reservations required.</p>
			</div>
			<div class="col-lg-4">
				<div class="row">
				<span class="col-lg-4"><img src="../../images/3.png" width="100"/></span>	
				<h4 class="col-lg-8 feature">Quality</h4>
				</div>
			   <p>Our cars are audited for cleanliness, safety and comfort. Our drivers are well trained and reliable. Sit back and enjoy the CTCABZ experience!</p>
			</div>
				 
		</div>
		<br><br><br>
		<div class="row">
			<div class="col-lg-4">
				<div class="row">
				<span class="col-lg-4"><img src="../../images/4.png" width="100"/></span>	
				<h4 class="col-lg-8 feature">Easiest way around</h4>
				</div>
			   <p>One tap and a car comes directly to you. Hop in your driver knows exactly where to go. And when you get there, just step out. Payment is completely seamless.</p>
			</div>
				 <div class="col-lg-4">
				<div class="row">
				<span class="col-lg-4"><img src="../../images/5.png" width="100"/></span>	
				<h4 class="col-lg-8 feature">Control</h4>
				</div>
			   <p>We have clear and transparent pricing listed online. Never haggle with drivers again on payments and be confident and assured of what you are being charged for!</p>
			</div>
			<div class="col-lg-4">
				<div class="row">
				<span class="col-lg-4"><img src="../../images/6.png" width="100"/></span>	
				<h4 class="col-lg-8 feature">Low-cost to luxury</h4>
				</div>
			   <p>Economy cars at everyday prices are always available. For special occasions, no occasion at all, or when you just a need a bit more room.</p>
			</div>
				 
		</div>
		
		
	</div>
	
	</section>
	
	
	<div class=" test-monials w3l-agile back-color-gray" style="background-color:#F6F7F2"> 
				<!--//screen-gallery-->
						<div class="sreen-gallery-cursual">
							  <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                		<div class="test-review">
											  <div class="row">
													<div class="col-lg-5"> 
													   <img src="../../images/12.png" class="img-responsive" alt=""/>
													</div> 
													<br></br><br>
													<div class="col-lg-7"> 
													 <h3>Pickup from anywhere. <br><br>Search or move pin to pickup location and tap Ride now.</h3>
													 <br></br><br>
													    <div class="row">
															<div class="col-lg-6">
																<img src="../../images/appstore.png" alt="">
															</div>
															<div class="col-lg-6">
																<img src="../../images/playstore.png" alt="">
															</div>
														</div>
														</div>
												</div> 
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <div class="row">
													<div class="col-lg-5"> 
													   <img src="../../images/13.png" class="img-responsive" alt=""/>
													</div> <br></br><br>
													<div class="col-lg-7"> 
													 <h3>Plan ahead. <br><br>Don't want a ride now? Schedule a pickup with Ride later.</h3>
													 <br></br><br>
													    <div class="row">
															<div class="col-lg-6">
																<img src="../../images/appstore.png" alt="">
															</div>
															<div class="col-lg-6">
																<img src="../../images/playstore.png" alt="">
															</div>
														</div>
														</div>
												</div> 
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										    <div class="row">
													<div class="col-lg-5"> 
													   <img src="../../images/15.png" class="img-responsive" alt=""/>
													</div> <br></br><br>
													<div class="col-lg-7"> 
													 <h3>Add your favourite place.<br><br> Tap a favourite to use it as your pickup location.</h3>
													 <br></br><br>
													    <div class="row">
															<div class="col-lg-6">
																<img src="../../images/appstore.png" alt="">
															</div>
															<div class="col-lg-6">
																<img src="../../images/playstore.png" alt="">
															</div>
														</div>
														</div>
												</div> 
					                	</div>
					                </div>
									 <div class="item-owl">
					                	<div class="test-review">
										    <div class="row">
													<div class="col-lg-5"> 
													   <img src="../../images/11.png" class="img-responsive" alt=""/>
													</div> <br></br><br>
													<div class="col-lg-7"> 
													 <h3>Spread the love. <br><br> Love the app? Invite friends and earn Ola Money.</h3>
													 <br></br><br>
													    <div class="row">
															<div class="col-lg-6">
																<img src="../../images/appstore.png" alt="">
															</div>
															<div class="col-lg-6">
																<img src="../../images/playstore.png" alt="">
															</div>
														</div>
														</div>
												</div> 
					                	</div>
					                </div>
									
									 <div class="item-owl">
					                	<div class="test-review">
										    <div class="row">
													<div class="col-lg-5"> 
													   <img src="../../images/16.png" alt=""/>
													</div> <br></br><br>
													<div class="col-lg-7"> 
													 <h3>No cash hassles. <br><br>Pay with Ola Money and ride in peace.</h3>
													 <br></br><br>
													    <div class="row">
															<div class="col-lg-6">
																<img src="../../images/appstore.png" alt="">
															</div>
															<div class="col-lg-6">
																<img src="../../images/playstore.png" alt="">
															</div>
														</div>
														</div>
												</div> 
					                	</div>
					                </div>
									
									 <div class="item-owl">
					                	<div class="test-review">
										    <div class="row">
													<div class="col-lg-5"> 
													   <img src="../../images/17.png" class="img-responsive" alt=""/>
													</div> <br></br><br>
													<div class="col-lg-7"> 
													 <h3>All rides in your pocket. <br><br>See upcoming or past rides, track rides and more.</h3>
													 <br></br><br>
													    <div class="row">
															<div class="col-lg-6">
																<img src="../../images/appstore.png" alt="">
															</div>
															<div class="col-lg-6">
																<img src="../../images/playstore.png" alt="">
															</div>
														</div>
														</div>
												</div> 
					                	</div>
					                </div>
				              </div>

					</div>
				</div> 
			 
	<!-- //slider -->
	<!-- Services -->
	 
		<div class="clearfix"></div>
		<!-- //Services -->
			<!-- footer -->
	<%- include ../Layouts/Footer.ejs %>	