 
   <%- include ../Layouts/Header.ejs %>	
	<%- include ../Layouts/Sidebar.ejs %>	
			 
	<!-- /bottom-banner --><br><br><br>
	<div class="banner-bottom">
	   <div class="container">
	   
	  
	   
          <div class="bottom-form">
		 
			<div>
			
				<div class="">
				
				</div>
			
			</div>
			
			<div class="inner-text">
				
			 <form action="#" method="post">
				<h3>Login</h3>
                   <hr>			
				
					<div class="best-hot">
						<h5>Email</h5>
						<input type="email" class="form-control" placeholder="Email" required="">
					</div>
					<br>
					<div class="best-hot">
						<h5>Password</h5>
						<input type="password" class="form-control" placeholder="Password" required="">
					</div>
					<br>
					<input type="checkbox" id="brand" value="">
									<label for="brand"><span></span> Remember me</label>
					<br>
					<input type="submit"  value="Login">
					<br>
					<center><a href="#" style="font-size:12px">Forget Password</a><br>
					
					<p style="font-size:12px">Don't have an account <a href="#" style="font-size:12px">Sign up</a></p>
					
					</center>
				</form>
			</div>
		</div>
	</div>
</div>
	<!-- //bottom-banner -->
	<!-- /slider1 -->
			 
		<div class="clearfix"></div>
		<!-- //Services -->
	<%- include ../Layouts/Footer.ejs %>	