 
 <%- include ../Layouts/Header.ejs %>	
	<%- include ../Layouts/Sidebar.ejs %>		
	<!-- /bottom-banner --><br><br><br>
	<div class="banner-bottom">
	   <div class="container">
	   
	  
	   
          <div class="bottom-form">
		 
			<div>
			
				<div class="">
				
				</div>
			
			</div>
			
			<div class="inner-text">
				
			 <form action="#" method="post">
		
			
			
              	<div class="best-hot">
						<h5>Please choose how you would like to partner with CTCABZ</h5>
						<hr>
						
                     <div style="border: 1px solid black; padding:5px" class="big">
					 <h5 style="color:red;"> Drive Cum Owner</h5>						
						<p style="font-size:12px" align="justify">Choose this option if you own the vheicale and plan to drive yourself too.
						</p>
						<input type="radio" name="chb" >
			      </div>
                  			  
<br>
						    <div style="border: 1px solid black; padding:5px" class="big">
						<h5 style="color:red;"> Non-Driving Partner</h5>						
						<p style="font-size:12px" align="justify">Choose this option if you own a vheicale, but you dont drive.You have drivers under you to drive the vheicle.
						</p>
						<input type="radio"  name="chb" >
					</div>
					
					</div> 
					
					
				<hr>
					
					<input type="submit"  value="Continue">
					<br>
					 
					
					
					
					</center>
				</form> 
			</div>
		</div>
	</div>
</div>
	<!-- //bottom-banner -->
	<!-- /slider1 -->
			 
		<div class="clearfix"></div>
		<!-- //Services -->
			<%- include ../Layouts/Footer.ejs %>	