 
<%- include ../Layouts/Header.ejs %>	
	<%- include ../Layouts/Sidebar.ejs %>		
 
 
			 
	<!-- /bottom-banner --><br><br><br>
	<div class="banner-bottom">
	   <div class="container">
	   
	  
	   
          <div class="bottom-form">
		 
			<div>
			
				<div class="">
				
				</div>
			
			</div>
			
			<div class="inner-text">
				
			 <form action="#" method="post">
		
			
			
              	<div class="best-hot">
						<h5>Please upload your personal documents </h5>
						<hr>
						
                     
					<a href=""> <p style="color:gray;"> Driver License <i class="glyphicon glyphicon-menu-right"></i></p>	</a>					
						
						<hr>
             <h5>Please upload your vheicle documents </h5>
						<hr>
					<p style="color:gray;">
					To drive with CTCABZ your vheicle must be 1995 or newer, and be a midsize or full-size sedant that comfortably seats 4-8 passengers
					
					</p>	
                  <hr>
				  <a href=""> <p style="color:gray;"> Permit(PCOP form) <i style="align:right" class="glyphicon glyphicon-menu-right"></i></p>	</a>	
				   <hr>
				  <a href="">  <p style="color:gray;">Insurance<i class="glyphicon glyphicon-menu-right"></i></p>	</a>	
					<hr>
					<a href="">  <p style="color:gray;">Vheicle Registration(RC)<i class="glyphicon glyphicon-menu-right"></i></p></a>		
					</div> 
					
					
				<hr>
					
					<input type="submit"  value="Continue">
					<br>
					 
					
					
					
					</center>
				</form> 
			</div>
		</div>
	</div>
</div>
	<!-- //bottom-banner -->
	<!-- /slider1 -->
			 
		<div class="clearfix"></div>
		<!-- //Services -->
			<%- include ../Layouts/Footer.ejs %>	