 
 <%- include ../Layouts/Header.ejs %>	
	<%- include ../Layouts/Sidebar.ejs %>		
			 
	<!-- /bottom-banner --><br><br><br>
	<div class="banner-bottom">
	   <div class="container">
	   
	  
	   
          <div class="bottom-form">
		 
			<div>
			
				<div class="">
				
				</div>
			
			</div>
			
			<div class="inner-text">
				
			 <form action="#" method="post">
			
                   		
				
					
					<div class="best-hot">
						<h5>To proceed,please review and agree to the terms of the consents bellow</h5>
						<hr>	
						<p style="font-size:12px" align="justify">I understand that the information provided by me may be used by CTCABZ or its affiliates ('CTCABZ'). Authbridge or its a affiliates(being a third party agency appointed by CTCABZ.). or any other third party agency appointed by CTCABZ form time-to-time to verify and validate the information i have provide as part of 
						necessary background checks. I understand that the third party agency apponted by CTCABZ may obtain information it deems appropriate 
						from verious sources including but no limited to current and past employeers.Criminal conviction records educational records.Professional and personal references
						and other verifying sources/authorities.</p>
					</div> 
					
					
				<hr>
					<center><input type="checkbox" id="brand" value=""></center>
					<input type="submit"  value="Continue">
					<br>
					 
					
					
					
					</center>
				</form> 
			</div>
		</div>
	</div>
</div>
	<!-- //bottom-banner -->
	<!-- /slider1 -->
			 
		<div class="clearfix"></div>
		<!-- //Services -->
			<%- include ../Layouts/Footer.ejs %>	