<%- include ../layouts/header.ejs %>
<div class="page-container">
<%- include ../layouts/sidebar.ejs %>
<div class="page-content"> 
			<div class="row">
				<div class="col-md-12"> 
					<ul class="page-breadcrumb breadcrumb"> 
					
					<li class="btn-group">
							<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>Actions</span> <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Home</a> 
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">user</a>  
						</li> 
						
						<li class="pull-right">
							<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
								<i class="fa fa-calendar"></i>
								<span></span>
								<i class="fa fa-angle-down"></i>
							</div>
						</li> 
						
					</ul> 
				</div>
			</div> 
			<div class="row">
				<div class="col-md-12">
					<div class="table-toolbar"> 
								<div class="btn-group">
									<a href="../user/add"><button id="sample_editable_1_new" class="btn green">
									Add User &nbsp;&nbsp;<i class="fa fa-edit"></i>
									</button></a>
								</div> 
								<div class="btn-group">
									<a href="../user"><button id="sample_editable_1_new" class="btn red">
									View User &nbsp;&nbsp;<i class="fa fa-edit"></i>
									</button></a>
								</div>  
								
							</div>
					<div class="portlet box purple ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-reorder"></i> Update user Credential
							</div>
							<div class="tools"> 
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="#" class="reload"></a>
								 
							</div>
						</div>
						<div class="portlet-body form"> 
						
							<form class="form-horizontal" action="/user/upload" role="form" method='post' enctype="multipart/form-data">
								<div class="form-body">  
									<div class="form-group">
										<label class="col-md-3 control-label">User Name</label>
										<div class="col-md-9">
											<input type="text" class="form-control" name="name" placeholder="Enter Name">
										</div>
									</div>  
									<div class="form-group">
										<label class="col-md-3 control-label">Upload Image</label>
										<div class="col-md-9"> 
											  <input type="file" name="thefile" id="file" />
													 
										</div>
									</div>
									
									
									
									
								</div>
								<div class="form-actions ">   
								 <div class="col-md-offset-3">
									 <button type="button" class="btn default">Cancel</button>  
									 
									   <button type="submit" name="submit" class="btn green">Submit</button>    
								    
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div> 
		</div>
				</div>
        
<%- include ../layouts/footer.ejs %>
